h2{
	font-size:20px;
	text-shadow: #aaa 2px 2px 2px;
	text-align: center;
	font-family: "宋体";
}
h3{
	color:#939497;
	text-align: center;
	font-size:16px;
}
#time{
	text-align: center;
	color:#666666;
	font-size:12px;
}
#time span{
	color:red;
}
.pic{
	width:427px;
	height: 528px;
	margin:0 auto;
}
.p1{
	font:italic 14px/40px "宋体";
	color:#1E1E1E;	
   margin-left:28px;
}
h4{
	
	font-size: 16px;
	text-indent: 2em;
}
.box{
	width:900px;
	height:800px;
	/*background:red;*/
	margin: 0 auto;
}
.p2 p{
	color:#333333;
	text-indent:2em;
	font-size:14px;
	line-height: 20px;
	
}